{% extends 'base.html'%} {% block content %}

<div class="row justify-content-md-center">
  <div class="col-md-7 col-lg-5">
    <h2 class="join-message">Sign Up!</h2>

    <form method="POST">
      {{ form.hidden_tag() }} {% for field in form if field.widget.input_type !=
      'hidden' %} {% for error in field.errors %}
      <span class="text-danger">{{ error }}</span>
      {% endfor %} {{ field(placeholder=field.label.text, class="form-control")
      }} {% endfor %}

      <button class="btn btn-outline-light reroutes"><span class="nav-btns">Sign Up</span></button>
    </form>
    <div>
      <p>Already have an account?<a href="/login" style="color: white;">Login here.</a></p>
    </div>
  </div>
</div>
{% endblock %}
